<li>
  <div class="parent-taxon" >
    <%= link_to "javascript:;",
      id: "parent_taxon_#{taxon.id}_for_test",
      class: "parent-taxon-caret",
      data: {
        toggle: "collapse",
        target: "#parent_taxon_#{taxon.id}"
      } do
    %>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    <% end %>
    <%= link_to potepan_category_path(taxon.id),
      class: "parent-taxon-link",
      id: "descendants_taxon_#{taxon.id}_for_test" do %>
      <%= taxon.name %> <span>(<%= taxon.all_products.count %>)</span>
    <% end %>
  </div>
  <ul id="<%= "parent_taxon_#{taxon.id}" %>" class="collapse collapseItem">
    <% descendants.each do |child_taxon| %>
      <% if child_taxon.level == current_level && child_taxon.parent_id == taxon.id %>
        <%= tree_taxon(descendants, current_level, child_taxon) %>
      <% end %>
    <% end %>
  </ul>
</li>