<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each do |root_taxon| %>
            <li>
              <%= link_to "javascript:;",
                id: "root_taxon_#{root_taxon.id}_for_test",
                class: "plus-minus",
                data: {
                  toggle: "collapse",
                  target: "#root_taxon_#{root_taxon.id}"
                } do
              %>
                <%= root_taxon.name %><i class="fa fa-plus"></i>
              <% end %>
              <ul id="root_taxon_<%= root_taxon.id %>" class="collapse collapseItem">
                <% root_taxon.descendants.each do |taxon| %>
                  <% if taxon.level == 1 %>
                    <%= tree_taxon(root_taxon.descendants, 1, taxon) %>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><a href="#">ブラック<span>(15)</span></a></li>
        <li><a href="#">ホワイト<span>(10)</span></a></li>
        <li><a href="#">レッド<span>(7)</span></a></li>
        <li><a href="#">ブルー<span>(12)</span></a></li>
        <li><a href="#">オレンジ<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>