<% provide(:title, @taxon.name) %>

<%= render "shared/top_light_section", name: @taxon.name, path_name: "shop" %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "side_bar", taxonomies: @taxonomies %>
      <%= render "main", taxon: @taxon, products: @products %>
    </div>
  </div>
</section>

<%= render "shared/bottom_light_section" %>
