<% provide(:title, @product.name) %>

<%= render "shared/top_light_section", name: @product.name, path_name: nil %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "media_left", product: @product %>
          <%= render "media_body", product: @product, root_taxon: @root_taxon %>
        </div>
      </div>
    </div>
    <%= render "related_products" %>
  </div>
</section>