<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader" id="top_lightSection" >
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_root_path, id: "show_page_home_link" %>
          </li>
          <% if path_name %>
            <li>
              <%= link_to path_name, "#" %>
            </li>
          <% end %>
          <li class="active"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>