<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li><!-- <span><a data-toggle="modal" data-target="#login">ログイン</a><small>or</small><a data-toggle="modal" data-target="#signup">新規登録</a></span> --></li>
            <li class="dropdown searchBox">
              <%= link_to "javascript:void(0)", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
                <i class="fa fa-search"></i>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right">
                <form  id="form01" action="product-grid-left-sidebar.html" method="post">
                  <li>
                    <span class="input-group">
                      <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                      <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                    </span>
                  </li>
                </form>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to "cart-page.html", class: "dropdown-toggle", data: { toggle: "dropdown disabled" } do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/navbar" %>
</div>