<!-- NAVBAR -->
<nav class="navbar navbar-main navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to potepan_root_path, class: "navbar-brand" do %>
        <%= image_tag "img/logo.png", alt: "" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Home", potepan_root_path %>
        </li>
        <li class="dropdown megaDropMenu active">
          <%= link_to "Shop",
            "javascript:void(0)",
            class: "dropdown-toggle",
            data: {
              toggle: "dropdown",
              hover: "dropdown",
              delay: "300",
              close: {
                others: "true"
              }
            },
            aria: {
              expanded: "false"
            }
          %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>